doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Irorun
        link(rel="stylesheet", href="css/main.css")
    body 
        header
            img(src="img/logo.png", alt="")
            .links
                a(href="#") Home
                a(href="#") Contact 
                a(href="#") Privacy 
        
        .firstcontent