mixin basiclinks 
    .stores 
        .content
            img(src="img/googleplay.png", alt="")
        .content
            img(src="img/appstore.png", alt="")

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Irorun
        link(rel="stylesheet", href="css/main.css")
    body 
        header
            img(src="img/logo.png", alt="")
            .links
                a(href="#") Home
                a(href="#") Contact 
                a(href="#") Privacy 
        
        .firstcontent
            button
                p Contact Us
            img(src="img/firstman.png", alt="")

            p Get Instant Loans 
            p Get instant loans with ease on your smartphone.
            +basiclinks

        .secondcontent
            img(src="img/secondman.png", alt="")
            .rightblock
                p Save on your own terms
                p Savings give you financial options
                +basiclinks

        .thirdcontent
            p How it works
            .content
                .inner 
                    .headline.first
                    img.telephone(src="img/telephone.png", alt="")
                    p Set up an account
                    p Download the app for free, sign up and verify your account.
                img(src="img/arrow.png", alt="")
                .inner 
                    .headline.second
                    img.notepad(src="img/notepad.png", alt="")
                    p Apply for a loan
                    p Apply for a loan and our technology will run a credit score and decide if you are qualified.
                img(src="img/arrow.png", alt="")
                .inner
                    .headline.third
                    img.barter(src="img/barter.png", alt="")
                    p Get your cash
                    p If you qualify, your loan will be disbursed to your wallet.

        .fourthcontent
            p Get it on Play Store and download the App Store

            .stores 
                .content1
                    img(src="img/greengoogleplay.png", alt="h")
                .content1
                    img(src="img/greenappstore.png", alt="")