doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Irorun
        link(rel="stylesheet", href="css/main.css")
    body 
        header
            img(src="img/logo.png", alt="")
            .links
                a(href="#") Home
                a(href="#") Contact 
                a(href="#") Privacy 
        
        .firstcontent
            button
                p Contact Us
            img(src="img/firstman.png", alt="")

            p Get Instant Loans 
            p Get instant loans with ease on your smartphone.
            .stores 
                .content
                    img(src="img/googleplay.png", alt="")
                .content
                    img(src="img/appstore.png", alt="")
