@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  font-weight: 450;
  color: #333333;
}

a {
  text-decoration: none;
  color: #222222;
}

button {
  border: none;
}

.stores {
  width: 350px;
  height: 50px;
  margin-left: 150px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.stores .content {
  background-color: #EEEAFF;
  border-radius: 10px;
  width: 147px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stores .content img {
  position: relative;
  width: 135px;
  height: 40px;
  left: 0;
  top: 0;
}
.stores .content1 {
  background-color: white;
  border-radius: 10px;
  width: 147px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stores .content1 img {
  position: relative;
  width: 135px;
  height: 40px;
  left: 0;
  top: 0;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 250px;
  height: 60px;
  margin-left: 100px;
}
header .links {
  width: 300px;
  font-size: 20px;
  line-height: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 500px;
}
header .links a:nth-child(1) {
  color: #0082F3;
}

.firstcontent {
  width: 1339px;
  height: 700px;
}
.firstcontent button {
  width: 36px;
  height: 108px;
  margin-left: 2px;
  background-color: #39CDCC;
  box-shadow: 0 0 10 0 rgba(0, 0, 0, 0.1019607843);
  border-radius: 0 0 6px 6px;
}
.firstcontent button p {
  rotate: 90deg;
  position: relative;
  right: 43px;
  width: 108px;
}
.firstcontent img {
  position: absolute;
  left: 850px;
  top: 40px;
}
.firstcontent p:nth-child(3) {
  font-size: 55px;
  line-height: 60px;
  width: 306px;
  margin: 20px 0;
  margin-left: 150px;
}
.firstcontent p:nth-child(4) {
  width: 434px;
  font-size: 24px;
  line-height: 35px;
  margin-left: 150px;
}

.secondcontent {
  width: 1339px;
  height: 400px;
  display: flex;
}
.secondcontent img {
  width: 374px;
  height: 397px;
}
.secondcontent .rightblock {
  position: relative;
  margin-left: 400px;
}
.secondcontent .rightblock p:nth-child(1) {
  font-size: 55px;
  line-height: 60px;
  width: 392px;
  margin: 20px 0;
  margin-left: 150px;
}
.secondcontent .rightblock p:nth-child(2) {
  width: 310px;
  font-size: 24px;
  line-height: 35px;
  margin-left: 150px;
}

.thirdcontent {
  width: 1339px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thirdcontent p {
  width: 291px;
  font-size: 45px;
  line-height: 50px;
  color: #333333;
}
.thirdcontent .content {
  width: 1000px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thirdcontent .content img {
  width: 40px;
  height: 35px;
}
.thirdcontent .content .inner {
  width: 288px;
  height: 339px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 10px 0 #B7B7B7;
}
.thirdcontent .content .inner .headline {
  width: 288px;
  height: 12px;
}
.thirdcontent .content .inner .first {
  background-color: #582EFF;
}
.thirdcontent .content .inner .second {
  background-color: #FF814A;
}
.thirdcontent .content .inner .third {
  background-color: #31C5A1;
}
.thirdcontent .content .inner img {
  margin-top: 50px;
}
.thirdcontent .content .inner .telephone {
  width: 51.85px;
  height: 60px;
}
.thirdcontent .content .inner .notepad {
  width: 70px;
  height: 60px;
}
.thirdcontent .content .inner .barter {
  width: 78px;
  height: 68px;
}
.thirdcontent .content .inner p:nth-child(3) {
  font-size: 18px;
  text-align: center;
}
.thirdcontent .content .inner p:nth-child(4) {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  width: 263px;
}

.fourthcontent {
  width: 1339px;
  height: 371px;
  background-color: #31C5A1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fourthcontent .stores {
  margin: 0;
}
.fourthcontent p {
  width: 555px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

footer {
  width: 1339px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer img {
  width: 150px;
  height: 40px;
}
footer .column {
  width: 160px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .column:nth-child(4) {
  width: 250px;
}
footer .column a {
  margin: 5px 0;
}
footer .column p {
  margin: 5px 0;
}
/*# sourceMappingURL=main.css.map */
