@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@mixin ptext($first, $second, $firstwidth, $secondwidth) {
    p:nth-child(#{$first}) {
        font-size: 55px;
        line-height: 60px;
        width: $firstwidth;
        margin: 20px 0;
        margin-left: 150px;
    }

    p:nth-child(#{$second}) {
        width: $secondwidth;
        font-size: 24px;
        line-height: 35px;
        margin-left: 150px;
    }
}

body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    font-weight: 450;
    color: #333333;
}

a {
    text-decoration: none;
    color: #222222;
}

button {
    border: none;
}

.stores {
    width: 350px;
    height: 50px;
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .content {
        background-color: #EEEAFF;
        border-radius: 10px;
        width: 147px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: relative;
            width: 135px;
            height: 40px;
            left: 0;
            top: 0;
        }
    }
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 250px;
        height: 60px;
        margin-left: 100px;
    }

    .links {
        width: 300px;
        font-size: 20px;
        line-height: 10px;
        display: flex;
        justify-content: space-between;
        margin-right: 500px;

        a:nth-child(1) {
            color: #0082F3;
        }
    }
}

.firstcontent {
    width: 1339px;
    height: 700px;

    button {
        width: 36px;
        height: 108px;
        margin-left: 2px;
        background-color: #39CDCC;
        box-shadow: 0 0 10 0 #0000001A;
        border-radius: 0 0 6px 6px;
        
        p {
            rotate: 90deg;
            position: relative;
            right: 43px;
            width: 108px;
        }
    }

    img {
        position: absolute;
        left: 850px;
        top: 40px;
    }

    @include ptext(3, 4, 306px, 434px);
        
}

.secondcontent {
    border: 2px solid black;
    width: 1339px;
    height: 400px;
    display: flex;

    img {
        width: 374px;
        height: 397px;
    }

    .rightblock {
        border: 2px solid black;
        position: relative;
        margin-left: 400px;
        @include ptext(1, 2, 392px, 310px);
    }
}